@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    height: 780px;
    background: rgb(255, 248, 243);
    background-image: url("images/developer.png"), url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

main {
    width: 1140px;
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin-left: 200px;
    padding-top: 30px;
}

.btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav h3 {
    font-weight: 700px;
    font-size: 40px;
}

.greetings {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 1000px;
    margin-top: 115px;
    margin-left: 200px;
}

.introducing {
    height: 356px;
    margin-top: 50px;
}

.introducing h3 {
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 200px;
    margin-bottom: 10px;
}

.introducing h2 {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.introducing p {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
}

.hardy-image {
    width: 600px;
    height: 580px;
    margin-left: 100px;
    margin-bottom: 12px;

}

.hardy-image img {
    width: 100%;
    height: 100%;
}

/* about section style starts here */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 550px;
    border-radius: 10px;
    background: rgb(255, 248, 243);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 780px;
    height: 320px;
    background-color: white;
}

.about-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.about-info {
    display: flex;
    justify-content: space-around;

}

.personal-information-title {
    font-size: 14px;
    line-height: 30px;
}

.personal-information-description {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* about section styles end */

/* skill section starts here */

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.skill-content {}

.what-i-do {
    width: 900px;
    margin: 0px auto;
    text-align: center;
}

.what-i-do-title {
    font-weight: 900px;
    font-size: 40px;
    margin-bottom: 18px;
}

.what-i-do-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
}

.skills {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 220px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 20px;

}

.skills-content img {
    width: 55px;
    height: 50px;
}

.skills-content-title {
    color: rgb(24, 24, 24);
    font-size: 25px;
}

.skills-content-description {
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

/* skill section styles end  */

/* resume section styles here */

.resume {
    margin-top: 100px;
}

.resume-title {
    text-align: center;
    font-size: 30px;
    font-weight: 800px;
}

.resume-content {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-education-title {
    font-size: 22px;
    margin-bottom: 15px;
}

.resume-education-info {
    
}

.resume-education-info-title {
    font-size: 16px;
    margin-bottom: 12px;
}

.resume-education-info-description-1{
    margin-bottom: 12px;   
}

.resume-education-info-description-2 {
    color: rgb(117, 117, 117);
    font-size: 16px;
    line-height: 28px;
}

.resume-experience-title{
    font-size: 22px;
    margin-bottom: 10px;
}

.resume-experience-info-title{
    font-size: 16px;
    margin-bottom: 12px;
}

.resume-experience-info-description-1{
    margin-bottom: 12px;
}

.resume-experience-info-description-2{
    color: rgb(117, 117, 117);
    font-size: 16px;
    line-height: 28px;
}